<div class ="col-md-12">
  <div id="tenants_header">
    <h1>Borrowers</h1>
  </div>
</div>
<div class="container">
  <div id="unapproved">
    <h2>Unapproved Borrowers</h2>
    <div class="row">
      <div class="col-md-5">
        Organization
      </div>
      <div class ="col-md-5">
        Location
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <% if @tenants[0] %>
          <% @tenants[0].each do |tenant| %>
            <%= link_to tenant.organization,
              tenant_dashboard_path(slug: tenant.slug) %>
            <%= tenant.location %>
            <%= link_to "EDIT", edit_admin_tenant_path(tenant.id) %>
          <% end %>
        <% else %>
          None
        <% end %>
      </div>
    </div>
  </div>






</div>
