<h1>What is Keevahh?</h1>
<p class="about">
We are a non-profit organization with a mission to connect people through
lending to alleviate poverty. Leveraging the internet and a worldwide network
of microfinance institutions, Keevahh lets individuals lend as little as $10 to
help create opportunity around the world.
</p>
