<div id="orders_header">
  <h1>Orders</h1>
</div>
<%= render "shared/back_button" %>

<div id="admin-order-table">
  <table class='table table-bordered'>
  <thead>
    <tr>
      <th data-field='Order Number'> Order Number </th>
      <th data-field='Total Cost'>Total Cost</th>
      <th data-field='Order Status'>Order Status</th>
      <th data-field='time'>Submitted At</th>
    </tr>
  </thead>
    <% @users.each do |user| %>
      <% user.orders.each do |order| %>
    <tr>
      <tr>
        <td><%= link_to("#{user.first_name}'s Order #{order.id}", user_order_path(user, order)) %></td>
        <td><%= number_to_currency order.total_cost/100 %></td>
        <td><%= order.status %></td>
        <td>Today</td>
    <% end %>
  <% end %>
    </tr>
  </table>
</div>
