<div id="title">
  <h1>Areas where you can help!</h1>

  <div class="row">
    <% @categories.each do |category| %>
    <div class="box col-lg-3">
      <h4 class="category-name"> <%= link_to("#{category.name}", category_path(id: category.id))%></h4>
      <div class="thumbnail">
        <%= image_tag category.photos.first.image.url %>
      </div>
      <h5 class="cat-name"><%= category.name %></h5>
    </div>
    <% end %>
  </div>
</div>
