<div id="projects_header">
  <h1> Projects </h1>
</div>
<div id="all_projects">
  <h2>All Projects</h2>
  <table style="width:95%">
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>

    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, edit_tenant_project_path(project, slug: project.tenant.id) %></td>
        <td><%= project.description %></td>
      </tr>
    <% end %>
  </table>
</div>
