<h1>Order History</h1>
<%= render 'shared/back_button' %>

<div id="history">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th data-field='Order Number'> Order Number </th>
        <th data-field='Total Cost'>Total Cost</th>
        <th data-field='Order Status'>Order Status</th>
        <th data-field='time'>Subimitted At</th>
      </tr>
    </thead>
    <% @user.orders.each do |order| %>
      <tr>
      <tr>
        <td><%= link_to("Order #{order.id}", user_order_path(@user, order)) %></td>
        <td><%= order.total_cost %></td>
        <td><%= order.status %></td>
        <td>Today</td>
    <% end %>
      </tr>
  </table>
</div>
