<h1>Order History</h1>

<div id="history">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th data-field='Item'> Item </th>
        <th data-field='Quantity'>Quantity</th>
        <th data-field='Subtotal'>Subtotal</th>
        <th data-field='Order Status'>Order Status</th>
        <th data-field='time'>Subimitted At</th>
      </tr>
    </thead>
      <tr>
        <td>Pour Over</td>
        <td>3</td>
        <td>$12.00</td>
        <td>Complete</td>
        <td>Today</td>
      </tr>
      <tr>
        <td>Aero Press</td>
        <td>5</td>
        <td>$10.00</td>
        <td>Complete</td>
        <td>Today</td>
      </tr>
  </table>
</div>
