<h1>Order History</h1>

<div id="history">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th data-field='Order Number'> Order Number </th>
        <th data-field='Total Cost'>Total Cost</th>
        <th data-field='Order Status'>Order Status</th>
        <th data-field='time'>Subimitted At</th>
      </tr>
    </thead>
      <tr>
      <tr>
        <td>Order 1</td>
        <td>100</td>
        <td>Complete</td>
        <td>Today</td>
      </tr>
  </table>
</div>
