<div id="title">
  <h1>Explore Your Lending Options</h1>

  <div class="row">
    <button class="btn btn-primary" id="filter_projects">Filter Projects</button> </br>
    <%= render partial: "shared/project_filters" %>
    <div id="projects"></div>
  </div>
</div>

<script charset="utf-8">
  $("#filter_projects").on("click", function() {
        $("#filters").animate({width: "toggle"}, 1000);
      });
</script>

<script charset="utf-8">
  $(document).ready(function() {
    var cleanFilters = function(filters) {
      var cleanedFilters = [];
      filters.forEach(function(element) {
        cleanedFilters.push(element.match(/\[(.*?)\]/)[1]);
      });
      return cleanedFilters;
    }

    var appendProjects = function(projects) {
      projects.forEach(function(project) {
        $("#projects").append(
          "<div><a href='/" + project.organization + "/projects/" + project.id + "'>" + project.title + "</a></div>"
        )
      });
    };

    var renderProjects = function(filteredProjects) {
      $("#projects").empty();
      console.log(filteredProjects);
      appendProjects(filteredProjects);
    };

<<<<<<< HEAD
    var filterProjects = function(projects, checkedFilters) {
      filterProjectByCategory(projects, checkedFilters)
      filterProjectByPrice

      // var filteredProjects = [];
      // Array.prototype.filter
      projects.filter(function(project) {
        // return true here if the projects should be included
      })
      // projects.forEach(function(project) {
      //   checkedFilters.forEach(function(filter) {
      //     if (project.categories.indexOf(filter) > -1) {
      //       if (filteredProjects.indexOf(project < 0)) {
      //         filteredProjects.push(project);
      //       }
      //     }
      //   });
      // });
      var filteredProjects = projects.filter(function(project) {
        // return true if any of the projects categories match the filter
=======
    var filterProjectsByCategory = function(projects, checkedFilters) {
      return projects.filter(function(project) {
>>>>>>> e52edd60c7cf2aaaf728dd510da0db100fe68fde
        return project.categories.some(function(category) {
          return checkedFilters.indexOf(category) > -1;
        });
      });
<<<<<<< HEAD
      // return filteredProjects;
    }
=======
    };

    var filterProjects = function(projects, checkedFilters) {
      projectsFilteredByCategory = filterProjectsByCategory(projects, checkedFilters);
      //return filterProjectsByPrice(projectsFilteredByCategory, checkedFilters);
      return projectsFilteredByCategory;
    };
>>>>>>> e52edd60c7cf2aaaf728dd510da0db100fe68fde

    var all_projects;
    $.getJSON("/projects.json", function(data) {
<<<<<<< HEAD
      projects = data;
      console.log(projects);
=======
      all_projects= data;
      console.log(all_projects);
>>>>>>> e52edd60c7cf2aaaf728dd510da0db100fe68fde
      var initial_category_selected = window.location.href.slice(window.location.href.indexOf('=') + 1);
      //window.location.search gives us query parameters. so that's sick
      var initial_categories = [];
      initial_categories.push(initial_category_selected);
<<<<<<< HEAD
      var filteredProjects = filterProjects(projects, initial_categories);

=======
      var filteredProjects = filterProjects(all_projects, initial_categories);
>>>>>>> e52edd60c7cf2aaaf728dd510da0db100fe68fde
      renderProjects(filteredProjects);
    });

    $(":checkbox").on("click", function() {
      var filters = [];
      $("input:checked").each(function(index) {
        filters.push(this.name);
      });
      var cleanedFilters = cleanFilters(filters);
      var filteredProjects = filterProjects(all_projects, cleanedFilters)
      renderProjects(filteredProjects);
    });
  });
</script>
