<div id="title">
  <h1>Explore Your Lending Options</h1>

  <div class="row">

    <button class="btn btn-primary" id="filter_projects">Filter Projects</button> </br>
    <%= render partial: "shared/project_filters" %>
    <div id="projects"></div>

  </div>
</div>

<%= javascript_include_tag "filter" %>
