<div id="title">
  <h1>Explore Your Lending Options</h1>

  <div class="row">
    <button class="btn btn-primary" id="filter_projects">Filter Projects</button> </br>
    <%= render partial: "shared/project_filters" %>
    <div id="projects"></div>
  </div>
</div>

<script charset="utf-8">
  $("#filter_projects").on("click", function() {
        $("#filters").animate({width: "toggle"}, 1000);
      });
</script>

<script charset="utf-8">
  $(document).ready(function() {
    var cleanFilters = function(filters) {
      var cleanedFilters = [];
      filters.forEach(function(element) {
        cleanedFilters.push(element.match(/\[(.*?)\]/)[1]);
      });
      return cleanedFilters;
    }

    var appendProjects = function(projects) {
      projects.forEach(function(project) {
        $("#projects").append(
          "<div><a href='/" + project.organization + "/projects/" + project.id + "'>" + project.title + "</a></div>" +
          "<img src='" + project.image_url + "'>"
        )
      });
    };

    var renderProjects = function(filteredProjects) {
      $("#projects").empty();
      console.log(filteredProjects);
      appendProjects(filteredProjects);
    };

    var filterProjectsByCategory = function(projects, checkedFilters) {
      return projects.filter(function(project) {
        return project.categories.some(function(category) {
          return checkedFilters.indexOf(category) > -1;
        });
      });
    };

    var filterProjects = function(projects, checkedFilters) {
      projectsFilteredByCategory = filterProjectsByCategory(projects, checkedFilters);
      //return filterProjectsByPrice(projectsFilteredByCategory, checkedFilters);
      return projectsFilteredByCategory;
    };

    var all_projects;
    $.getJSON("/projects.json", function(data) {
      all_projects= data;
      console.log(all_projects);
      var initial_category_selected = window.location.href.slice(window.location.href.indexOf('=') + 1);
      //window.location.search gives us query parameters. so that's sick
      var initial_categories = [];
      initial_categories.push(initial_category_selected);
      var filteredProjects = filterProjects(all_projects, initial_categories);
      renderProjects(filteredProjects);
    });

    $(":checkbox").on("click", function() {
      var filters = [];
      $("input:checked").each(function(index) {
        filters.push(this.name);
      });
      var cleanedFilters = cleanFilters(filters);
      var filteredProjects = filterProjects(all_projects, cleanedFilters)
      renderProjects(filteredProjects);
    });
  });
</script>
