<div id="title">
  <h1>Explore Your Lending Options</h1>

  <div class="row">
    <button class="btn btn-primary" id="filter_projects">Filter Projects</button> </br>
    <%= render partial: "shared/project_filters" %>
    <div id="projects"></div>
  </div>
</div>

<script charset="utf-8">
  $("#filter_projects").on("click", function() {
        $("#filters").animate({width: "toggle"}, 1000);
      });
</script>

<script charset="utf-8">
  $(document).ready(function() {
    var cleanFilters = function(filters) {
      var cleanedFilters = [];
      filters.forEach(function(element) {
        cleanedFilters.push(element.match(/\[(.*?)\]/)[1]);
      });
      return cleanedFilters;
    }

    var appendProjects = function(projects) {
      projects.forEach(function(element) {
        $("#projects").append(
          "<div>" + element.title + "</div>"
        )
      });
    };

    var renderProjects = function(filteredProjects) {
      $("#projects").empty();
      appendProjects(filteredProjects);
    };

    var filterProjects = function(projs_cats, filters) {
      var filteredProjects = [];
      projs_cats.forEach(function(proj_and_cat) {
        filters.forEach(function(filter) {
          if (proj_and_cat[1].indexOf(filter) > -1) {
            if (filteredProjects.indexOf(proj_and_cat[0] < 0)) {
              filteredProjects.push(proj_and_cat[0]);
            }
          }
        });
      });
      return filteredProjects;
    }

    $.getJSON("/projects.json", function(data) {
      projects_and_categories = data;
      console.log(projects_and_categories);
      var initial_category_selected = window.location.href.slice(window.location.href.indexOf('=') + 1);
      var initial_categories = [];
      initial_categories.push(initial_category_selected);
      var filteredProjects = filterProjects(projects_and_categories, initial_categories);
      renderProjects(filteredProjects);
    });

    $(":checkbox").on("click", function() {
      var filters = [];
      $("input:checked").each(function(index) {
        filters.push(this.name);
      });
      var cleanedFilters = cleanFilters(filters);
      var filteredProjects = filterProjects(projects_and_categories, cleanedFilters)
      renderProjects(filteredProjects);
    });
  });
</script>

