<div id="title">
  <h1>Explore Your Lending Options</h1>

  <div class="row">
    <button class="btn btn-primary" id="filter_projects">Filter Projects</button> </br>
    <%= render partial: "shared/project_filters" %>
    <div id="projects"></div>
  </div>
</div>

<script charset="utf-8">
  $("#filter_projects").on("click", function() {
        $("#filters").animate({width: "toggle"}, 1000);
      });
</script>

<script charset="utf-8">
  $(document).ready(function() {
    var cleanFilters = function(filters) {
      var cleanedFilters = [];
      filters.forEach(function(element) {
        cleanedFilters.push(element.match(/\[(.*?)\]/)[1]);
      });
      return cleanedFilters;
    }

    var appendProjects = function(projects) {
      projects.forEach(function(element) {
        $("#projects").append(
          "<div>" + element.title + "</div>"
        )
      });
    };

    var renderProjects = function(filteredProjects) {
      $("#projects").empty();
      appendProjects(filteredProjects);
    };

    var filterProjects = function(projects, checkedFilters) {
      filterProjectByCategory(projects, checkedFilters)
      filterProjectByPrice

      // var filteredProjects = [];
      // Array.prototype.filter
      projects.filter(function(project) {
        // return true here if the projects should be included
      })
      // projects.forEach(function(project) {
      //   checkedFilters.forEach(function(filter) {
      //     if (project.categories.indexOf(filter) > -1) {
      //       if (filteredProjects.indexOf(project < 0)) {
      //         filteredProjects.push(project);
      //       }
      //     }
      //   });
      // });
      var filteredProjects = projects.filter(function(project) {
        // return true if any of the projects categories match the filter
        return project.categories.some(function(category) {
          return checkedFilters.indexOf(category) > -1;
        });
      });
      // return filteredProjects;
    }

    $.getJSON("/projects.json", function(data) {
      projects = data;
      console.log(projects);
      var initial_category_selected = window.location.href.slice(window.location.href.indexOf('=') + 1);
      //window.location.search gives us query parameters. so that's sick
      var initial_categories = [];
      initial_categories.push(initial_category_selected);
      var filteredProjects = filterProjects(projects, initial_categories);

      renderProjects(filteredProjects);
    });

    $(":checkbox").on("click", function() {
      var filters = [];
      $("input:checked").each(function(index) {
        filters.push(this.name);
      });
      var cleanedFilters = cleanFilters(filters);
      var filteredProjects = filterProjects(projects_and_categories, cleanedFilters)
      renderProjects(filteredProjects);
    });
  });
</script>
