<div id="admin_header">

  <h1>Admin Dashboard</h1>
</div>

<div class="admin-links">
  <a class="btn admin_btn" href="<%= admin_categories_path %>">
    <i class="fa fa-pie-chart fa-5x"><br>
    </i>Category</a>
  <a class="btn admin_btn" href="<%= admin_items_path %>">
    <i class="fa fa-book fa-5x"><br>
    </i>Items</a>
  <a class="btn admin_btn" href="<%= admin_orders_path %>">
    <i class="fa fa-files-o fa-5x"><br>
    </i>Orders</a>
</div>
