<div id="admin_header">
  <h1>Admin Dashboard</h1>
</div>

<div class="admin-links">
<%= link_to "Categories", admin_categories_path %>
<%= link_to "Items", admin_items_path %>
<%= link_to "Orders", admin_orders_path %>
</div>
