<div id="admin_header">
  <h1>Admin Dashboard</h1>
</div>


<p><%= link_to "Categories", admin_categories_path %></p>
<p><%= link_to "Borrowers", admin_tenants_path %></p>
<p><%= link_to "Projects", admin_projects_path %></p>
