<div id="menu">


  <div>
    <% if current_user.admin? %>
    <%= link_to "Create Category", new_category_path %>
    <% end %>
  </div>

  Filter by Category:
  <% @categories.each do |category| %>
    <%= link_to category.name, items_path(category_name: category.name) %>
  <% end %>

  <ul>
    <% @items.each do |item| %>
      <li>
        Item: <%= item.title %><br>
        Categories: <% item.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div class="row">
  
</div>

<div class="row">

</div>
