<div id="categories_header">
  <h1>Categories</h1>
</div>

<%= render "shared/category_row" %>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="category">
      <h4 class="form-title"> Create New Category </h4>
      <%= bootstrap_form_for(:categories, style: :inline, url: categories_path) do |f| %>
      <%= f.text_field :name %>
      <%= f.submit "Add Category" %>
      <% end %>
    </div>
  </div>
</div>
