

body {
  font-family:Georgia, Serif;
  background: url(image-path("symphony.png")) repeat;
  background-repeat: repeat;
  color: #090909;
}

h1 {
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 3px #666;
  margin-bottom: 40px;
}

.form-title {
  text-shadow: 0px 2px 3px #666;
}

h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

.main-body {
  margin-top: 60px;
  margin-bottom: 100px;
}

.item-title {
  min-height: 40px;
  margin-bottom: 5px;
}

.item-desc {
  min-height: 50px;
}

.category-row {
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  color: #758db2;
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.admin_btn {
  text-align: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#admin_header {
  margin-bottom: 70px;
}

.admin-links {
  text-align: center;
}
