body {
  color: #093D5E;
  background-color: #b6e2f9;
}

.navbar {
  background-color: #093d5e;
  color: white;
  font-size: 1.2em;
}
h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

#title {
  background-color: #58B6E6;
  font-weight: bold;
  margin: 16px 0;
  padding: 10px;
  width: 100%;
}

h3 {
  font-weight: bold;
  text-align: center;
}

.main-body {
  margin-top: 60px;
  margin-bottom: 100px;
  min-height: 70vh;
}

#signup {
  text-align: center;
}

.project-title {
  min-height: 40px;
  margin-bottom: 5px;
}

.project-desc {
  min-height: 50px;
}

.flash-error {
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

.flash-alert {
  color: #ff0000;
  text-align: center;
  font-size: 18px;
  margin-top: 1em;
}

.flash-notice {
  color: #008000;
  font-size: 18px;
  margin-top: 1em;
  text-align: center;
}

.flash-success {
  text-align: center;
  color: #008000;
  font-size: 18px;
  margin-top: 1em;
}

.category-row {
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  color: #504d4f;
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-update-quantity {
  float: right;
}

.btn-delete-cart-project {
  float: right;
  margin-top: 10px;
  width: 129px;
}

.admin_btn {
  text-align: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#admin_header {
  margin-bottom: 70px;
}

.admin-links {
  text-align: center;
}

.add-cart {
  margin-left: 20px;
}

.drop-down {
  margin-left: 201px;
  color: #504d4f;
}

.brand {
  margin-right: 10px;
  padding-bottom: -10px;
  margin-bottom: -10px;
}

a {
  color:  #504d4f;
}

.status-row {
  text-align: center;
}

#store-name {
  color: white;
  font-size: 1.6em;
  margin-top: 10px;
}

.retire-btn {
  margin-bottom: 54px;
}

#complete-your-loan {
  text-align: center;
}

td {
  background-color: rgba(255, 255, 255, .5);
}

th {
  text-align: center;
}

// user order page
.order-userinfo {
  background-color: #e3e3e3;
  border: 2px solid #6699ff;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 2px;
  min-height: 20px;
  padding: 6px;
  width: 50%;
}

.order-total {
  border: 2px solid #6699ff;
  font-size: 1.4em;
  font-weight: bold;
  margin: auto;
  padding: 20px;
  text-align: center;
  width: 50%;
}

// about page
.about {
  background-color: #e3e3e3;
  border: 2px solid #6699ff;
  border-radius: 20px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  min-height: 20px;
  padding: 50px;
  width: 600px;
}

// footer
footer {
  background-color: #6bc5f2;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  height: 60px;
  padding: 15px;
  position: relative;
  width: 100%;

  a {
    color: #894355;
    font-size: 1.3em;
    margin-right: 15px;
    }

  &:hover {
    color: #222;
  }

  small {
    float: left;
    font-size: 0.9em;
  }

  ul {
    float: right;
    text-decoration: underline;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// complete loan message
#complete-loan {
  background-color: #f4b69c;
  font-size: 20px;
  margin: auto;
  text-align: center;
  text-decoration-color: #b6e2f9;
  width: 600px;
}

#help-someone {
  background-color: #faddd1;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  padding: 6px;
  text-align: center;
  width: 100%;
}

#loan-underline {
  text-decoration: underline;
}

// profile page css
#profile-data {
  background-color: #e3e3e3;
  border: 2px solid #6699ff;
  border-radius: 20px;
  margin-bottom: 2px;
  min-height: 20px;
  padding: 50px;
}

// variables, mixins
@mixin box-sizing {
  box-sizing: border-box;
}

// project filters
.hidden-filters {
  display: none;
}

// miscellaneous

.debug-dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box-sizing;
}

th {
  text-align: center;
}

li.active > a
{
  color: white;
  text-decoration: none;
  background-color: #093D5E !important;
  outline: 0;
}

#lend-link,
#menu-signup,
#loans,
#logout,
#profile,
#admin-dashboard,
#borrowers
{
  color: white;
  margin-top: 10px;
}
