
body {
  font-family: 'PT Mono', ;
  background: url(image-path("wood.jpg")) repeat;
  background-repeat: repeat;
  color: #090909;
}

h1 {
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 3px #666;
  margin-bottom: 40px;
}

.form-title {
  text-shadow: 0px 2px 3px #666;
}

#title {
  font-weight: bold;
  margin-top: 20px;
  margin-right: 30px;
  text-shadow: 0px 2px 3px #666;
}

h3 {
  font-weight: bold;
  text-align: center;
}

.main-body {
  margin-top: 60px;
  margin-bottom: 100px;
}

#signup {
  text-align: center;

}

.item-title {
  min-height: 40px;
  margin-bottom: 5px;
}

.item-desc {
  min-height: 50px;
}

#flash_error {
  text-align: center;
  color: red;
}

#flash_alert {
  color:red;
  text-align: center;
}

#flash_notice {
  text-align: center;
  color:green;
}

.category-row {
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  color: #504d4f;
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-update-quantity {
  float: right;
}

.btn-delete-cart-item {
  float: right;
  margin-top: 10px;
  width: 129px;
}

.admin_btn {
  text-align: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#admin_header {
  margin-bottom: 70px;
}

.admin-links {
  text-align: center;
}

.add-cart {
  margin-left: 20px;
}

.drop-down {
  margin-left: 201px;
  color: #504d4f;
}

.brand {
  margin-right: 10px;
  text-shadow: 0px 2px 3px #666;
}

a {
  color:  #504d4f;
}

.status-row {
  text-align: center;
}

#store-name {
  color: #504d4f;
}

.retire-btn {
  margin-bottom: 54px;
}

td {
  background-color: rgba(255, 255, 255, .5);
}
