
body {
  font-family: 'PT Mono', ;
  background: url(image-path("wood.jpg")) repeat;
  background-repeat: repeat;
  color: #090909;
}

h1 {
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 3px #666;
  margin-bottom: 40px;
}

.form-title {
  text-shadow: 0px 2px 3px #666;
}

#title {
  font-weight: bold;
  margin-top: 20px;
  margin-right: 30px;
  text-shadow: 0px 2px 3px #666;
}

h3 {
  font-weight: bold;
  text-align: center;
}

.main-body {
  margin-top: 60px;
  margin-bottom: 100px;
}

#signup {
  text-align: center;
}

.project-title {
  min-height: 40px;
  margin-bottom: 5px;
}

.project-desc {
  min-height: 50px;
}

#flash_error {
  text-align: center;
  color: red;
}

#flash_alert {
  color:red;
  text-align: center;
}

#flash_notice {
  text-align: center;
  color:green;
}

.category-row {
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  color: #504d4f;
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-update-quantity {
  float: right;
}

.btn-delete-cart-project {
  float: right;
  margin-top: 10px;
  width: 129px;
}

.admin_btn {
  text-align: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#admin_header {
  margin-bottom: 70px;
}

.admin-links {
  text-align: center;
}

.add-cart {
  margin-left: 20px;
}

.drop-down {
  margin-left: 201px;
  color: #504d4f;
}

.brand {
  margin-right: 10px;
  text-shadow: 0px 2px 3px #666;
}

a {
  color:  #504d4f;
}

.status-row {
  text-align: center;
}

#store-name {
  color: #504d4f;
  float: left;
  font-size: 1.6em;
  margin: auto;
}

.retire-btn {
  margin-bottom: 54px;
}

#complete-your-loan {
  text-align: center;
}

#profile-title {
  text-shadow: 0 2px 3px #666;
}

#profile-data {
  background-color: #e3e3e3;
  border: 1px solid #e3e3e3;
  border-color: #d7d7d7;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}

td {
  background-color: rgba(255, 255, 255, .5);
}

// variables, mixins
@mixin box-sizing {
  box-sizing: border-box;
}

// miscellaneous

.debug-dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box-sizing;
}


th {
  text-align: center;
}
