
body {
  font-family: 'PT Mono', ;
  background: url(image-path("wood.jpg")) repeat;
  background-repeat: repeat;
  color: #090909;
}

h1 {
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 3px #666;
  margin-bottom: 40px;
}

.form-title {
  text-shadow: 0px 2px 3px #666;
}

#title {
  font-weight: bold;
  margin-top: 20px;
  margin-right: 30px;
  text-shadow: 0px 2px 3px #666;
}

h3 {
  font-weight: bold;
  text-align: center;
}

.main-body {
  margin-bottom: -142px;
  min-height: 70vh;
  margin-top: 60px;
  margin-bottom: 100px;
}

#signup {
  text-align: center;
}

.project-title {
  min-height: 40px;
  margin-bottom: 5px;
}

.project-desc {
  min-height: 50px;
}

#flash-error {
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1em;
  text-align: center;
}

#flash-alert {
  color: #ff0000;
  text-align: center;
  font-size: 18px;
  margin-top: 1em;
}

#flash-notice {
  text-align: center;
  color: #008000;
  font-size: 18px;
  margin-top: 1em;
}

.category-row {
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  color: #504d4f;
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-update-quantity {
  float: right;
}

.btn-delete-cart-project {
  float: right;
  margin-top: 10px;
  width: 129px;
}

.admin_btn {
  text-align: center;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#admin_header {
  margin-bottom: 70px;
}

.admin-links {
  text-align: center;
}

.add-cart {
  margin-left: 20px;
}

.drop-down {
  margin-left: 201px;
  color: #504d4f;
}

.brand {
  margin-right: 10px;
  text-shadow: 0px 2px 3px #666;
}

a {
  color:  #504d4f;
}

.status-row {
  text-align: center;
}

#store-name {
  color: #504d4f;
  float: left;
  font-size: 1.6em;
  margin: auto;
}

.retire-btn {
  margin-bottom: 54px;
}

#complete-your-loan {
  text-align: center;
}

td {
  background-color: rgba(255, 255, 255, .5);
}

th {
  text-align: center;
}

// footer
footer {
  background-color: #bcdefa;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  height: 60px;
  position: relative;
  width: 100%;
}

footer a {
  color: #674388;
  margin-right: 15px;
  font-size: 1.3em;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  font-size: 0.9em;
}

footer ul {
  float: right;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

// complete loan message
#complete-loan {
  display: inline-block;
  font-size: 20px;
  text-decoration-color: #ff0000;
  text-decoration: underline;
}

#help-someone {
  font-size: 16px;
  text-align: center;
  margin: auto;
  width: 800px;
  padding: 0.7em;
}

// profile page css
#profile-title {
  text-shadow: 0 2px 3px #666;
}

#profile-data {
  background-color: #e3e3e3;
  border: 2px solid #6699ff;
  border-radius: 20px;
  margin-bottom: 2px;
  min-height: 20px;
  padding: 50px;
}

// variables, mixins
@mixin box-sizing {
  box-sizing: border-box;
}

// project filters
.hidden-filters {
  display: none;
}

// miscellaneous

.debug-dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box-sizing;
}

th {
  text-align: center;
}
