<div id="title">
  <h1>Areas where you can help!</h1>
</div>
<div class="row">
  <% @categories.each do |category| %>
  <div class="box col-lg-3">
    <h4 class="category-name"> <%= link_to("#{category.name}", projects_path(category: category.name.parameterize))%></h4>
    <div class="thumbnail">
      <%= image_tag category.projects.first.image_url %>
    </div>
  </div>
  <% end %>
</div>
