<div id="title">
  <h1><%= @category.name %></h1>

  <div class="row">
    <% @projects.each do |project| %>
      <%= render partial: "shared/project", locals: {project: project} %>
    <% end %>
  </div>
</div>
