<div id="title">
  <h1><%= @category.name %></h1>

  <div class="row">
    <% @projects.each do |project| %>
    <div class="box col-lg-3">
      <h4 class="project-title"> <%= link_to("#{project.title}", project_path(id: project.id))%></h4>
      <div class="thumbnail">
        <img src="http://upload.wikimedia.org/wikipedia/commons/4/4d/Cat_November_2010-1a.jpg">
      </div>
      <h5 class="project-desc"><%= project.description %></h5>
    </div>
    <% end %>
  </div>
</div>
