<footer class="footer">
  <small>
    The Keevahh Microloans site by:</br> Adam Smith, Emily Berkeley, Mike Dao, Orion Osborn, and
    Jeffrey Wan.
  </small>
  <nav>
    <ul>
      <%= link_to "About", about_path %>
    </ul>
  </nav>
</footer>
